include crates/kisti_json_rs/Cargo.toml
include crates/kisti_json_rs/Cargo.lock
recursive-include crates/kisti_json_rs/src *.rs
recursive-include scripts *.py *.sh
recursive-include tests/fixtures *.csv *.json
prune crates/kisti_json_rs/target
